<%# Mobile column navigation for all column types %>
<%# Params: board, column_type (:not_now, :stream, :closed, :column), column (only for :column type) %>

<% column_obj = local_assigns[:column] %>
<% prev_item = column_type == :column ? prev_column_item(board, :column, column_obj) : prev_column_item(board, column_type) %>
<% next_item = column_type == :column ? next_column_item(board, :column, column_obj) : next_column_item(board, column_type) %>
<% position_label = column_type == :column ? column_position_label(column_obj) : column_position_label_for(board, column_type) %>

<div class="header__actions header__actions--end mobile-column-nav">
  <% if prev_item %>
    <%= link_to prev_item[:path], class: "btn btn--icon mobile-column-nav__btn" do %>
      <%= icon_tag("arrow-left") %>
      <span class="for-screen-reader">Previous: <%= prev_item[:name] %></span>
    <% end %>
  <% else %>
    <span class="btn btn--icon mobile-column-nav__btn" style="visibility: hidden;">
      <%= icon_tag("arrow-left") %>
    </span>
  <% end %>
  <span class="mobile-column-nav__position"><%= position_label %></span>
  <% if next_item %>
    <%= link_to next_item[:path], class: "btn btn--icon mobile-column-nav__btn" do %>
      <%= icon_tag("arrow-right") %>
      <span class="for-screen-reader">Next: <%= next_item[:name] %></span>
    <% end %>
  <% else %>
    <span class="btn btn--icon mobile-column-nav__btn" style="visibility: hidden;">
      <%= icon_tag("arrow-right") %>
    </span>
  <% end %>
</div>
