<% @page_title = "Calendar - #{l(@date, format: :month_year)}" %>

<% content_for :header do %>
  <h1 class="header__title">
    <span>Calendar</span>
  </h1>

  <div class="header__actions header__actions--end">
    <nav class="calendar-nav" aria-label="Calendar navigation">
      <%= link_to calendar_path(date: @date.prev_month), class: "calendar-nav__btn", data: { controller: "tooltip" } do %>
        <%= icon_tag "arrow-left" %>
        <span class="for-screen-reader">Previous month</span>
      <% end %>

      <%= link_to l(@date, format: :month_year), calendar_path, class: "calendar-nav__current" %>

      <%= link_to calendar_path(date: @date.next_month), class: "calendar-nav__btn", data: { controller: "tooltip" } do %>
        <%= icon_tag "arrow-right" %>
        <span class="for-screen-reader">Next month</span>
      <% end %>
    </nav>
  </div>
<% end %>

<%= turbo_stream_from "calendar_#{Current.user.id}" %>

<div class="calendar" data-controller="calendar-drag-drop" data-calendar-drag-drop-update-url-value="<%= card_due_date_path('__CARD_ID__') %>">
  <div class="calendar__header">
    <% %w[Sun Mon Tue Wed Thu Fri Sat].each do |day_name| %>
      <div class="calendar__day-name"><%= day_name %></div>
    <% end %>
  </div>

  <%= turbo_frame_tag "calendar_body", data: { turbo_action: "advance" } do %>
    <div class="calendar__body">
      <% (@start_date..@end_date).each do |date| %>
        <%= render "calendars/day", date: date, cards: @cards_by_date[date] || [], current_month: date.month == @date.month, current_date: @date %>
      <% end %>
    </div>
  <% end %>
</div>

<%= turbo_frame_tag "calendar_card_modal" %>
