<div id="<%= dom_id(card, :due_date) %>" class="position-relative"
    data-controller="dialog"
    data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside mouseenter->dialog#loadLazyFrames" <%= "hidden" if card.closed? %>>
  <button class="btn card__due-date-trigger" style="--btn-background: var(--card-bg-color);" data-action="click->dialog#open:stop keydown.d@document->hotkey#click" data-controller="tooltip hotkey" tabindex=<%= (local_assigns.key?(:preview) && local_assigns[:preview]) ? -1 : 0 %>>
    <%= icon_tag "calendar" %>
    <span class="<%= card.due? ? '' : 'for-screen-reader' %>">
      <% if card.due? %>
        <%= card.due_on.strftime("%-m/%-d") %>
      <% else %>
        Due date
      <% end %>
    </span>
  </button>

  <dialog class="popup panel flex-column align-start gap-half fill-white shadow" data-dialog-target="dialog" data-action="turbo:before-morph-attribute->dialog#preventCloseOnMorphing turbo:submit-end->dialog#close">
    <%= yield %>
  </dialog>
</div>
