<% @page_title = "Done" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_back_to_board(@board) %>
  </div>

  <h1 class="header__title divider divider--fade">
    <span class="overflow-ellipsis"><%= @page_title %></span>
  </h1>
<% end %>

<%= render "boards/columns/mobile_nav", board: @board, column_type: :closed %>

<section class="cards cards--grid"
         data-controller="mobile-columns drag-and-drop"
         data-drag-and-drop-dragged-item-class="drag-and-drop__dragged-item"
         data-drag-and-drop-hover-container-class="drag-and-drop__hover-container"
         data-mobile-columns-prev-url-value="<%= prev_column_item(@board, :closed)&.dig(:path) %>"
         data-mobile-columns-next-url-value="<%= next_column_item(@board, :closed)&.dig(:path) %>">
  <%= turbo_frame_tag :closed_column do %>
    <% if @page.used? %>
      <%= with_automatic_pagination :closed_column, @page do %>
        <%= render "boards/columns/list", cards: @page.records, draggable: true %>
      <% end %>
    <% else %>
      <div class="cards__list">
        <div class="card blank-slate blank-slate--card">
          <p class="txt-align-center">Drag cards here</p>
          <p class="txt-align-center blank-slate-for-grid">Nothing here</p>
        </div>
      </div>
    <% end %>
  <% end %>
</section>
